@charset "ISO-8859-1";

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-image: url("../media/background4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* FRAMEWORK */

#wfTitle{
    height: 3em;
    background: none;
    border-bottom: none;
}

#container{
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

#container > div{
    margin: 0;
    height: 100%;
}

#controls{
    width: 25%;
    background: none;
    float: left;
    padding: 0 1em 0 0;
    position: relative;
    border: none;
    overflow-y: auto;
}

#controlShow{
    position: absolute;
    top: .5em;
    left: .5em;
    z-index: 1;
}

#controlHide{
    position: absolute;
    top: .5em;
    right: .5em;
    z-index: 1;
}

/* CONTENT SECTION */

#content{
    background: none;
    width: 100%;
    height: 100%;
}

#contentContainer{
    border: none;
    overflow: hidden;
    padding: 3em;
    height: 95%;
}

#contentUpdate{
    border: none;
    overflow: auto;
}

.contentTitle{
    background: #2C5C83;
    margin: 0 auto;
    display: block;
    padding: .2em 3em;
    border-radius: 5px 5px 0 0;
    border: 1px solid #666;
    border-bottom: none;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
}

.contentHolder{
    background: linear-gradient( #bbb, #eee);
    border-radius: 0 0 10px 10px;
    border: 1px solid #666;
    padding: 1em 2em;
}

.inputTable{
    border-collapse: separate;
    border-spacing: 1em .5em;
    font-size: 1.25em;
    font-family: 'Open Sans Condensed', sans-serif;
}

.inputTable td{
    padding: 0;
    width: 20em;
}

.textTableInput{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: .1em .5em;;
    font-size: 1em;
    font-family: 'Open Sans Condensed', sans-serif;
}

.buttonDiv{
    display: inline-block;
    cursor: pointer;
    border: 1px solid #333;
    background: linear-gradient( #3cb0fd, #3498db);
    border-radius: 3px;
    padding: .1em .5em;;
    font-size: 1em;
    font-family: 'Open Sans Condensed', sans-serif;
}

/* INFO SECTION */
#info{
    position: absolute;
    top: .5em;
    right: .5em;
}

#userIcon{
    text-align: right;
}

#userMenu{
    color: #000;
    font-size: 1.5em;
    font-family: 'Open Sans Condensed', sans-serif;
}

.img1{
    width: 75%;
    margin: .75em auto .75em 1em;
}

.point{
    cursor: pointer;
}

.listItem{
    background: #000000;
    color: white;
    width: 100%;
    padding: .2em .5em;
    margin: .1em;
    cursor: pointer;
}

.listItem:hover{
    background: #003B7E;
}

/* CONTROLS */
#controlAccordian{
    font-family: 'Open Sans Condensed', sans-serif;
    border-radius: 0;
    background: none;
    padding: 0 0 0 1em;
}

.accd_header{
    margin: .2em 0;
    padding: .2em 0 .2em 1em;
    background: linear-gradient( #555, #444);
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 1.25em;
}

.accd_header_selected{
    background: #2C5C83;
}

.temp{
    color: #3E8553;
}
.accd_content{
    background: none;
}

#accd_contentNull{
    margin: 0;
    padding: 0;
    display: none;
}

/* RADIO BUTTONS */

.listLabel{
    width: 80%;
    margin: .25em 0 .25em auto;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

.selectRadio{
    width: 80%;
    margin: .2em .5em 0 auto;
    padding: .2em 0 .2em 1em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.15em;
    border-radius: 2px;
    background: linear-gradient( #333, #444);
    border: none;
    color: #fff;
}

.inputControl{
    width: 80%;
    margin: .2em .5em 0 auto;
    padding: .2em 0 .2em 1em;
}

.inputField2{
    font-size: 1em;
    display: inline-block;
    height: 90%;
    width: 50%;
    margin: 0 .5em;
    padding: .2em .5em;
    background: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
}

.controlSelect{
    font-size: 1em;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: .2em .5em;
    background: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
}

button.button1{
    margin: .2em;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    color: #ffffff;
    padding: .25em .5em;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
}

.button1:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
